<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>views form</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="container">
       <div class="flex">
        <h1 >userDetail</h1>
        <a class="btn" href="/users">back</a>
       </div>
    <h1><%= user.name %></h1>
    <h2><%= user.email %></h2>
    <h3><%= user.age %></h3>
    <h3><%= user.bio %></h3>
    <a class="btn" href="/users/<%= user._id %>/edit">edit</a>
    <a class="btn" style="background-color: red;" href="/users/<%= user._id %>/delete">delete</a>
   </div>
</body>
</html>